{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/encampment.css' %}" type='text/css'>
<script src="{% static 'encampment/scripts/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

{% endblock head %}


{% block body %}



<div class="encampment-container">

  <div class="left-troop-bar">

      <div class="current-troop-container">
        <h6 style="width: 100%; text-align:center;">MY TROOPS</h6>
        
        

        {% for troop in user_troops %}
        
        <div class="current-troop-box">
          <label for="{{troop.troop}}"> <i>{{troop.troop}}</i> </label>
          <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{troop.troop.id}}.png" alt="{{troop.troop.name}}">
          <div> <b>{{troop.count}}</b> </div>
        </div>
        
        {% endfor %}
        
    </div>
  
    <div class="current-hero-container">
      <h6 style="width: 100%; text-align:center;">MY HEROES</h6>
      {% for hero in user_heroes %}
      <div class="current-hero-box">
        <div class="hero-heading"><label for="{{hero.hero}}"> <i>{{hero.hero}}</i> </label></div>
        <img class="troop-icon-camp" src="{% get_static_prefix %}images/heroes/{{hero.hero.id}}.png" alt="{{hero.hero}}">
        Current Health: {{hero.current_health}}
        <div><b><i>{{hero.status}}</i> </b></div>
        {% if hero.hero.summon_amount == 0 %}
        {% else %}
        <div>{{hero.hero.summon_amount}} {{hero.hero.summon_type}}</div>
        {% endif %}
      </div>
    
      {% endfor %}
  </div>

  <div class="current-troop-container">
    <h6 style="width: 100%; text-align:center;">REINFORCEMENT TROOPS</h6>
    
    {% for rein in reinforcements %}
    
    <div class="current-reinforcement-box">
      <label for="{{rein.user_troop.troop}}"> <i>{{rein.user_troop.troop}}</i> </label>
      <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{rein.user_troop.troop.id}}.png" alt="{{rein.user_troop.troop.name}}">
      <div> <b>{{rein.count}}</b> </div>
      <div>{{rein.owner}}</div>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="sendback">
        <input type="hidden" name="sendback" value="{{rein.id}}">
        <button type="submit" class="btn btn-primary btn-sm">Sendback</button>
      </form>
    </div>
    
    {% endfor %}
    
  </div>

  <div class="current-troop-container">
    <h6 style="width: 100%; text-align:center;">MY REINFORCEMENTS</h6>
    
    {% for rein in my_reinforcements %}
    
    <div class="current-reinforcement-box">
      <label for="{{rein.user_troop.troop}}"> <i>{{rein.user_troop.troop}}</i> </label>
      <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{rein.user_troop.troop.id}}.png" alt="{{rein.user_troop.troop.name}}">
      <div> <b>{{rein.count}}</b> </div>
      <div>{{rein.location.user}}</div>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="callback">
        <input type="hidden" name="callback" value="{{rein.id}}">
        <button type="submit" class="btn btn-primary btn-sm">Callback</button>
      </form>
    </div>
    
    {% endfor %}
    
  </div>




</div>
  
  
  
  
  <div class="troop-management-container">

    <h3>SET DEFENSIVE FORMATION</h3>

    
    <form method="post" id="defence"> {% csrf_token %}
      
      
      <input type="hidden" name="form_type" value="defence">
      
      <div class="formation-table2">
        
        
        {% for position, value in defensive_formation_data2.items %}
        <div class="formation-item2">

            <select id="slcd-{{position}}" name="troop{{position}}" class="troop-select" aria-label="Default select example">
              
              {% for troop in union_troops %}
              <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == value.troop %} selected {% endif %} >{{troop.troop}}</option>
              {% endfor %}
            </select>
            
            <img id="imgd{{position}}" class="formation-img" src="{% get_static_prefix %}images/troops/{{ value.troop  }}.png" alt="">
            
            <input type="range" name="numd{{position}}" class="form-range range-input" id="customRange{{position}}" min="0" max="100" step="5" value="{{value.numd }}">
            <div><span>%</span><span class="range-value" id="rangeValue{{position}}">{{value.numd }}</span>  | {{value.countd }}</div>
            
            <div class="hero-select-container">
              <div class="hero-select-menu">
                <select id="herod-{{position}}" name="herod{{position}}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                  <option id ="99">Add Hero</option>
                  {% for hero in user_heroes %}
                  <option id="{{hero.hero.id}}" value="{{hero.id}}" {% if hero.position|stringformat:'d' == position %}
                  selected

                  {% endif %}>{{hero.hero}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="hero-small-image">
                <img id="imgh{{position}}" class="hero-img" src="{% get_static_prefix %}images/heroes/{{99}}.png" alt="">
              </div>
            </div>
            
        </div>
        
        
        {% endfor %}
          
          
            <div class="battle-field">
              <span id="battle-field">BATTLE FIELD</span>
            </div>
    
      </div>

      <button type="submit" class="btn btn-danger">SAVE POSITION</button>

    </form>

 

<!------------------------------------------------------------------------>



        <hr>
      <h4>SEND TROOPS</h4>



        <form method="post" id="attack"> {% csrf_token %}

          <input type="hidden" name="form_type" value="send">



          
          <div class="formation-table2">
            <div class="battle-field">
              <span id="battle-field">BATTLE FIELD</span>
            </div>
              {% for position in positions %}

              <div class="formation-item2" id="{{position}}">
                
                <div class="hero-select-container">
                  <div class="hero-select-menu">
                        <select id="heroa-{{position}}" name="herod{{position}}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                          <option id ="99">Add Hero</option>
                          {% for hero in user_heroes %}
                          <option id="{{hero.hero.id}}" value="{{hero.id}}">{{hero.hero}}</option>
                          {% endfor %}
                        </select>
                      </div>
                      
                      <div class="hero-small-image">
                      <img id="imgha{{position}}" class="hero-img" src="{% get_static_prefix %}images/heroes/99.png" alt="">
                    </div>
                  </div>
                  
                  
                <select id="slc-{{position}}" name="troop{{position}}" class="troop-select" aria-label="Default select example">
                  {% for troop in user_counted_troops %}
                  <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                  {% endfor %}
                </select>
                
                <img id="img{{position}}" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">
                
                <input class="troop-input" type="number" id="num{{position}}" name="num{{position}}" min="0"  value="0">
              </div>
              
              {% endfor %}
          </div>


            <hr>

            <!--
            COMMENTS OLD

-->

            <div>
              <label for="locx">X: </label>
              <input type="number" id="locx" name="locx" min="0" max="30" required>
              |
              <label for="locy">Y: </label>
              <input type="number" id="locy" name="locy" min="0" max="30" required>

              <span class="small-icon"><img id="location-icon" class="small-icon" src="{% get_static_prefix %}images/others/map-pin.svg" alt=""></span>  <span class="bold" id="result"></span>
              
              <div>
                
                <input class="form-check-input" type="radio" value="True" id="flexCheckCheckedDisabled" name="auto" checked disabled>
                <label class="form-check-label" for="flexCheckCheckedDisabled" >
                  Auto Battle
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="reinforcement" id="reinforcement" name="sendType" checked>
                <label class="form-check-label" for="reinforcement" >
                  Reinforcement
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="pillage" id="pillage" name="sendType">
                <label class="form-check-label" for="pillage" >
                  ATTACK - Pillage
                </label>
              </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" value="attackblock" id="attackblock" name="sendType">
                  <label class="form-check-label" for="attackblock" >
                    ATTACK - Line/Block
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" value="attackflank" id="attackflank" name="sendType">
                  <label class="form-check-label" for="attackflank" >
                    ATTACK - Flank
                  </label>
                </div>
              

              


              <button type="submit" class="btn btn-danger">TO WAR</button>
            </div>

        </form>



      <h4>DEPARTING CAMPAIGNS</h4>
      <h6>ATTACKS</h6>

      
      {% for camp in departing_attacks %}
      
    <div class="campaign-group">
      
      <div id="{{camp.id}}">TO: {{camp.target_location}}  </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div>Arriving at: {{camp.arriving_time}} | <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  </div>
      <div class="battle-field">
        <span id="battle-field">BATTLE FIELD</span>
      </div>
      <div class="departing-camp-container">
        {% for group in camp.group %}
        <div class="departing-troop-item">
              {% if group.count == 0 %}
                {% if group.position_hero %}
                
                <div style="font-size:0.8rem; font-weight:bold;"> {{group.position_hero.user_hero.hero}}</div>
                
                {% endif %}
              x
              {% else %}
                {% if group.position_hero %}
               
                <div style="font-size:0.8rem; font-weight:bold;"> {{group.position_hero.user_hero.hero}}</div>
                
                {% endif %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
            </div>
        {% endfor %}
        
      </div>


      <hr>
    </div>
      
      {% endfor %}

      <h6>REINFORCEMENTS</h6>
      {% for camp in departing_reinforcements %}
      <div id="{{camp.id}}">TO: <a href="/user/{{camp.target_location.user.id}}/"> {{camp.target_location}}</a>  </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div>Arriving at: {{camp.arriving_time}} | <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  </div>
      <div class="battle-field">
        <span id="battle-field">BATTLE FIELD</span>
      </div>
      <div class="departing-camp-container">
        {% for group in camp.group %}
        <div class="departing-troop-item">
              {% if group.count == 0 %}
              x
              {% else %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
            </div>
        {% endfor %}
        
      </div>
      <hr>
      
      {% endfor %}

<br>
      <h4>ARRIVING CAMPAIGNS</h4>
      <h6>RETURNS/REINFORCEMENTS</h6>

      {% for camp in arriving_campaigns %}

      {% if camp.campaign_type == "reinforcement" %}

      <div id="{{camp.id}}">FROM:
        <a href="/user/{{camp.main_location.user.id}}">
           {{camp.main_location.user}} 
        </a>
        </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div>Arriving at: {{camp.time_left}} | 
        
          <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  
        
      </div>
      <div class="arriving-camp-container">
        {% for group in camp.group %}
        <div class="arriving-troop-item">
              {% if group.count == 0 %}
              x
              {% else %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
            </div>
        {% endfor %}
      </div>
      <hr>
      
      {% else %}
      
      
      <div id="{{camp.id}}">FROM: {{camp.main_location}}  </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div> 
        
          <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  
     
      </div>
      <div class="arriving-camp-container">
        {% for group in camp.group %}
        <div class="arriving-troop-item">
              {% if group.count == 0 %}
              x
              {% else %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
        </div>
            {% endfor %}

            {% for heroes in camp.heroes %}

            <div class="arriving-troop-item" style="background: #d95252bf;">
              <img class="camp-hero-image" src="{% get_static_prefix %}images/heroes/{{heroes.user_hero.hero.id}}.png">
              <div>{{heroes.user_hero.hero}}</div>
            </div>
            
            {% endfor %}
          </div>
          <div> Wood: {{camp.arriving_wood}} | Stone: {{camp.arriving_stone}} | Iron: {{camp.arriving_iron}} | Grain: {{camp.arriving_grain}} </div>
      <hr>
      {% endif %}
      
      {% endfor %}



      <h6>INCOMING ATTACKS</h6>

      {% for incoming in arriving_attacks %}
      <div id="{{incoming.id}}">
        <img style="height:22px;" class="line-icon" src="{% get_static_prefix %}images/others/attack-incoming.gif">
        
        FROM: <a href="/user/{{incoming.user.id}}"> {{incoming.user}}</a></div>
      <div>Arriving at: {{incoming.arriving_time}} | <span class="countdown">{{incoming.arriving_time|date:"c"}} </span>  </div>

      
      {% endfor %}

  </div>
</div>


<script>
      const selectImgPairs = document.querySelectorAll('[id^="slc-"]');
      selectImgPairs.forEach(pair => {
        const imgd = document.querySelector(`#img${pair.id.slice(4)}`);

        // add event listener to select element
        pair.addEventListener('change', (event) => {
          console.log('Attack çalıştı');
          const selected = pair.querySelector(`option[value="${event.target.value}"]`);
          const idd = selected.id
          imgd.src = `{% get_static_prefix %}images/troops/${idd}.png`;
        });
      });
</script>

<script>
      const selectImgPairsd = document.querySelectorAll('[id^="slcd-"]');
      selectImgPairsd.forEach(pair => {
        const imgd = document.querySelector(`#imgd${pair.id.slice(5)}`);
        
        // add event listener to select element
        pair.addEventListener('change', (event) => {
          console.log('Defence çalıştı');
          const selected = pair.querySelector(`option[value="${event.target.value}"]`);
          const idd = selected.id
          imgd.src = `{% get_static_prefix %}images/troops/${idd}.png`;
        });
      });
</script>

<script>
  const selectImgPairsh = document.querySelectorAll('[id^="herod-"]');
  selectImgPairsh.forEach(pair => {
    const imgh = document.querySelector(`#imgh${pair.id.slice(6)}`);
    
    // add event listener to select element
    pair.addEventListener('change', (event) => {
      console.log('Hero çalıştı');
      const selected = pair.querySelector(`option[value="${event.target.value}"]`);
      const idh = selected.id
      console.log(idh);
      imgh.src = `{% get_static_prefix %}images/heroes/${idh}.png`;
    });
  });
</script>


<script>
  const selectImgPairshat = document.querySelectorAll('[id^="heroa-"]');
  selectImgPairshat.forEach(pair => {
    const imgha = document.querySelector(`#imgha${pair.id.slice(6)}`);
    
    // add event listener to select element
    pair.addEventListener('change', (event) => {
      console.log('Hero att çalıştı');
      const selected = pair.querySelector(`option[value="${event.target.value}"]`);
      const idh = selected.id
      console.log(idh);
      imgha.src = `{% get_static_prefix %}images/heroes/${idh}.png`;
    });
  });
</script>



<script>
  {% for block in positions %}
  
    var range{{block}} = document.getElementById("customRange{{block}}");
    var rangeValue{{block}} = document.getElementById("rangeValue{{block}}");
    
    // update the range value display on input change
    range{{block}}.addEventListener("input", function() {
      rangeValue{{block}}.innerHTML = range{{block}}.value;
    });
  {% endfor %}
  
</script>

<script>

  $(document).ready(function() {
    $(".countdown").each(function() {
      var datetimeStr = $(this).text().trim();
      var datetime = moment.utc(datetimeStr);
  
      var x = setInterval(function() {
        var now = moment.utc();
        var distance = moment.duration(datetime.diff(now));
  
        if (distance.asSeconds() < 0) {
          location.reload();
          
        }
  
        var hours = Math.floor(distance.asHours() % 24);
        var minutes = Math.floor(distance.asMinutes() % 60);
        var seconds = Math.floor(distance.asSeconds() % 60);
  
        $(this).html(hours + "h " + minutes + "m " + seconds + "s");
      }.bind(this), 1000);
    });
  });
  
</script>



  <!--  FOR LOCATION CHECK  -->
<script>
  $(document).ready(function() {
    // Define your data dictionary with coordinates and names
    var data = JSON.parse('{{location_data|escapejs}}') ;

    // Listen for changes to the input fields
    $('#locx, #locy').on('change', function() {
      // Get the values of the input fields
      var locx = $('#locx').val();
      var locy = $('#locy').val();

      // Build the coordinate key for the data dictionary
      var key = locx + ',' + locy;

      // Check if the key exists in the data dictionary
      if (key in data) {
        // If it does, show the corresponding name
        $('#result').text(data[key]);
      } else {
        // If it doesn't, show an error message
        $('#result').text('Not found');
      }
    });
  });
</script>



 <!--  Incoming link with params  -->
<script>
  // Get the URL parameters
  const urlParams = new URLSearchParams(window.location.search);
  const locx = urlParams.get('locx');
  const locy = urlParams.get('locy');

  // Set the values of the input fields
  document.getElementById('locx').value = locx;
  document.getElementById('locy').value = locy;
</script>

    {% endblock body %}