{% extends 'main/layout.html' %}
{% load static %}

{% block head %}

<script src="{% static 'encampment/scripts/scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

{% endblock head %}


{% block body %}


<div class="encampment-container">

  <div class="left-troop-bar">

      <div class="current-troop-container">
        <h4 style="width: 100%; text-align:center;">CURRENT TROOPS</h4>
        
        

        {% for troop in user_troops %}
        
        <div class="current-troop-box">
          <label for="{{troop.troop}}"> <i>{{troop.troop}}</i> </label>
          <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{troop.troop.id}}.png" alt="{{troop.troop.name}}">
          <div> <b>{{troop.count}}</b> </div>
        </div>
        
        {% endfor %}
        
    </div>
  
    <div class="current-hero-container">
      <h5 style="width: 100%; text-align:center;">CURRENT HEROES</h5>
      {% for hero in user_heroes %}
      <div class="current-hero-box">
        <div class="hero-heading"><label for="{{hero.hero}}"> <i>{{hero.hero}}</i> </label></div>
        <img class="troop-icon-camp" src="{% get_static_prefix %}images/heroes/{{hero.hero.id}}.png" alt="{{hero.hero}}">
        Current Health: {{hero.current_health}}
        {% if hero.hero.summon_amount == 0 %}
        {% else %}
        <div>{{hero.hero.summon_amount}} {{hero.hero.summon_type}}</div>
        {% endif %}
      </div>
    
      {% endfor %}
  </div>

  <div class="current-troop-container">
    <h4 style="width: 100%; text-align:center;">REINFORCEMENT TROOPS</h4>
    
    {% for rein in reinforcements %}
    
    <div class="current-reinforcement-box">
      <label for="{{rein.user_troop.troop}}"> <i>{{rein.user_troop.troop}}</i> </label>
      <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{rein.user_troop.troop.id}}.png" alt="{{rein.user_troop.troop.name}}">
      <div> <b>{{rein.count}}</b> </div>
    </div>
    
    {% endfor %}
    
  </div>
</div>
  
  
  
  
  <div class="troop-management-container">

          <h4>SET DEFENSIVE FORMATION</h4>
            
          <form method="post" id="defence"> {% csrf_token %}
          

            <input type="hidden" name="form_type" value="defence">

            <div class="formation-table">
            
              <div class="formation-row">
                <div class="formation-item" id="31">
                  
                    <select id="slcd-31" name="troop31" class="troop-select" aria-label="Default select example">
                      {% for troop in union_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop31 %} selected {% endif %} >{{troop.troop}}</option>
                      {% endfor %}
                    </select>

                    <img id="imgd31" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop31}}.png" alt="">

                    <input type="range" name="numd31" class="form-range range-input" id="customRange1" min="0" max="100" step="5" value="{{defensive_formation_data.numd31}}">
                    <div><span>%</span><span class="range-value" id="rangeValue1">{{defensive_formation_data.numd31}}</span>  | {{defensive_formation_data.countd31}}</div>

                </div>

                <div class="formation-item" id="32">
                     
                  
                  <select id="slcd-32" name="troop32" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop32 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>

                    <img id="imgd32" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop32}}.png" alt="">


                  <input type="range" name="numd32" class="form-range range-input" id="customRange2" min="0" max="100" step="5" value="{{defensive_formation_data.numd32}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue2">{{defensive_formation_data.numd32}}</span> | {{defensive_formation_data.countd32}}</div> 
                </div>

                <div class="formation-item"  id="33">
                  

                  <select id="slcd-33" name="troop33" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop33 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="imgd33" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop33}}.png" alt="">

                  <input type="range" name="numd33" class="form-range range-input" id="customRange3" min="0" max="100" step="5" value="{{defensive_formation_data.numd33}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue3">{{defensive_formation_data.numd33}}</span>  | {{defensive_formation_data.countd33}}</div> 
                </div>

                <div class="formation-item"  id="34">
                  

                  <select id="slcd-34" name="troop34" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop34 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="imgd34" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop34}}.png" alt="">

                  <input type="range" name="numd34" class="form-range range-input" id="customRange4" min="0" max="100" step="5" value="{{defensive_formation_data.numd34}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue4">{{defensive_formation_data.numd34}}</span>  | {{defensive_formation_data.countd34}}</div> 
                </div>

              </div>

              <div class="formation-row">
                <div class="formation-item" id="21">
                  <b>21</b>
                    <select id="slcd-21" name="troop21" class="troop-select" aria-label="Default select example">
                      {% for troop in union_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop21 %} selected {% endif %}>{{troop.troop}}</option>
                      {% endfor %}
                    </select>

                    <img id="imgd21" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop21}}.png" alt="">

                    <input type="range" name="numd21" class="form-range range-input" id="customRange5" min="0" max="100" step="5" value="{{defensive_formation_data.numd21}}">
                    <div> <span>%</span> <span class="range-value" id="rangeValue5">{{defensive_formation_data.numd21}}</span>  | {{defensive_formation_data.countd21}}</div> 
                </div>

                <div class="formation-item" id="22">
                  <b>22</b>    
                  
                  <select id="slcd-22" name="troop22" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop22 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>

                  <img id="imgd22" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop22}}.png" alt="">

                  <input type="range" name="numd22" class="form-range range-input" id="customRange6" min="0" max="100" step="5" value="{{defensive_formation_data.numd22}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue6">{{defensive_formation_data.numd22}}</span>  | {{defensive_formation_data.countd22}}</div> 
                </div>

                <div class="formation-item"  id="23">
                  <b>23</b>

                  <select id="slcd-23" name="troop23" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop23 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="imgd23" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop23}}.png" alt="">

                  <input type="range" name="numd23" class="form-range range-input" id="customRange7" min="0" max="100" step="5" value="{{defensive_formation_data.numd23}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue7">{{defensive_formation_data.numd23}}</span>  | {{defensive_formation_data.countd23}}</div> 
                </div>

                <div class="formation-item"  id="24">
                  <b>24</b>

                  <select id="slcd-24" name="troop24" class="troop-select" aria-label="Default select example">
                    {% for troop in union_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop24 %} selected {% endif %}>{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="imgd24" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop24}}.png" alt="">

                  <input type="range" name="numd24" class="form-range range-input" id="customRange8" min="0" max="100" step="5" value="{{defensive_formation_data.numd24}}">
                  <div> <span>%</span> <span class="range-value" id="rangeValue8">{{defensive_formation_data.numd24}}</span>  | {{defensive_formation_data.countd24}}</div> 
                </div>

              </div>


                <div class="formation-row">
                  <div class="formation-item" id="11">
                    <b>11</b>
                      <select id="slcd-11" name="troop11" class="troop-select" aria-label="Default select example">
                        {% for troop in union_troops %}
                        <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop11 %} selected {% endif %}>{{troop.troop}}</option>
                        {% endfor %}
                      </select>
          
                      <img id="imgd11" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop11}}.png" alt="">
          
                      <input type="range" name="numd11" class="form-range range-input" id="customRange9" min="0" max="100" step="5" value="{{defensive_formation_data.numd11}}">
                      <div> <span>%</span> <span class="range-value" id="rangeValue9">{{defensive_formation_data.numd11}}</span>  | {{defensive_formation_data.countd11}}</div> 
                  </div>
          
                  <div class="formation-item" id="12">
                    <b>12</b>    
                    
                    <select id="slcd-12" name="troop12" class="troop-select" aria-label="Default select example">
                      {% for troop in union_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop12 %} selected {% endif %}>{{troop.troop}}</option>
                      {% endfor %}
                    </select>
          
                    <img id="imgd12" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop12}}.png" alt="">
          
                    <input type="range" name="numd12" class="form-range range-input" id="customRange10" min="0" max="100" step="5" value="{{defensive_formation_data.numd12}}">
                    <div> <span>%</span> <span class="range-value" id="rangeValue10">{{defensive_formation_data.numd12}}</span>  | {{defensive_formation_data.countd12}}</div> 
                  </div>
          
                  <div class="formation-item"  id="13">
                    <b>13</b>
          
                    <select id="slcd-13" name="troop13" class="troop-select" aria-label="Default select example">
                      {% for troop in union_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}"{% if troop.troop.id == defensive_formation_data.troop13 %} selected {% endif %}>{{troop.troop}}</option>
                      {% endfor %}
                    </select>
                    
                    <img id="imgd13" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop13}}.png" alt="">
          
                    <input type="range" name="numd13" class="form-range range-input" id="customRange11" min="0" max="100" step="5" value="{{defensive_formation_data.numd13}}">
                    <div> <span>%</span> <span class="range-value" id="rangeValue11">{{defensive_formation_data.numd13}}</span>  | {{defensive_formation_data.countd13}}</div> 
                  </div>
          
                  <div class="formation-item"  id="14">
                    <b>14</b>
          
                    <select id="slcd-14" name="troop14" class="troop-select" aria-label="Default select example">
                      {% for troop in union_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop14 %} selected {% endif %}>{{troop.troop}}</option>
                      {% endfor %}
                    </select>
                    
                    <img id="imgd14" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop14}}.png" alt="">
          
                    <input type="range" name="numd14" class="form-range range-input" id="customRange12" min="0" max="100" step="5" value="{{defensive_formation_data.numd14}}">
                    <div> <span>%</span> <span class="range-value" id="rangeValue12">{{defensive_formation_data.numd14}}</span> | {{defensive_formation_data.countd14}}</div> 
                  </div>
          
                </div>
            
                <div class="battle-field">
                  <span id="battle-field">BATTLE FIELD</span>
                </div>
          
            </div>

            <button type="submit" class="btn btn-danger">SAVE POSITION</button>


          </form>

        <hr>
      <h4>SEND TROOPS</h4>

      <hr>
      <h6><b>FORMATIONS</b></h6>


        <form method="post" id="attack"> {% csrf_token %}

          <input type="hidden" name="form_type" value="send">

          <div class="formation-table">
            
            <div class="battle-field">
              <span id="battle-field">BATTLE FIELD</span>
            </div>

              <div class="formation-row">
                <div class="formation-item" id="11">
                  <b>11</b>
                    <select id="slc-11" name="troop11" class="troop-select" aria-label="Default select example">
                      {% for troop in user_counted_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                      {% endfor %}
                    </select>

                    <img id="img11" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                    <input class="troop-input" type="number" id="num11" name="num11" min="0"  value="0">
                </div>

                <div class="formation-item" id="12">
                  <b>12</b>    
                  
                  <select id="slc-12" name="troop12" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>

                  <img id="img12" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num12" name="num12" min="0"  value="0">
                </div>

                <div class="formation-item"  id="13">
                  <b>13</b>

                  <select id="slc-13" name="troop13" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img13" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num13" name="num13" min="0"  value="0">
                </div>

                <div class="formation-item"  id="14">
                  <b>14</b>

                  <select id="slc-14" name="troop14" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img14" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num14" name="num14" min="0"  value="0">
                </div>

              </div>

              <div class="formation-row">
                <div class="formation-item" id="21">
                  <b>21</b>
                    <select id="slc-21" name="troop21" class="troop-select" aria-label="Default select example">
                      {% for troop in user_counted_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                      {% endfor %}
                    </select>

                    <img id="img21" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                    <input class="troop-input" type="number" id="num21" name="num21" min="0"  value="0">
                </div>

                <div class="formation-item" id="22">
                  <b>22</b>    
                  
                  <select id="slc-22" name="troop22" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>

                  <img id="img22" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num22" name="num22" min="0"  value="0">
                </div>

                <div class="formation-item"  id="23">
                  <b>23</b>

                  <select id="slc-23" name="troop23" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img23" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num23" name="num23" min="0"  value="0">
                </div>

                <div class="formation-item"  id="24">
                  <b>24</b>

                  <select id="slc-24" name="troop24" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img24" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num24" name="num24" min="0"  value="0">
                </div>

              </div>

              <div class="formation-row">
                <div class="formation-item" id="31">
                  <b>31</b>
                    <select id="slc-31" name="troop31" class="troop-select" aria-label="Default select example">
                      {% for troop in user_counted_troops %}
                      <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                      {% endfor %}
                    </select>

                    <img id="img31" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                    <input class="troop-input" type="number" id="num31" name="num31" min="0"  value="0">
                </div>

                <div class="formation-item" id="32">
                  <b>32</b>    
                  
                  <select id="slc-32" name="troop32" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>

                  <img id="img32" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num32" name="num32" min="0"  value="0">
                </div>

                <div class="formation-item"  id="33">
                  <b>33</b>

                  <select id="slc-33" name="troop33" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img33" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num33" name="num33" min="0"  value="0">
                </div>

                <div class="formation-item"  id="34">
                  <b>34</b>

                  <select id="slc-34" name="troop34" class="troop-select" aria-label="Default select example">
                    {% for troop in user_counted_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img34" class="formation-img" src="{% get_static_prefix %}images/troops/{{user_counted_troops.0.troop.id}}.png" alt="">

                  <input class="troop-input" type="number" id="num34" name="num34" min="0"  value="0">
                </div>

              </div>

            </div>



            <div>
              <label for="locx">X: </label>
              <input type="number" id="locx" name="locx" min="0" max="30" required>
              |
              <label for="locy">Y: </label>
              <input type="number" id="locy" name="locy" min="0" max="30" required>

              <input class="form-check-input" type="radio" value="True" id="flexCheckCheckedDisabled" name="auto" checked>
              <label class="form-check-label" for="flexCheckCheckedDisabled" >
                Auto Battle
              </label>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="reinforcement" id="reinforcement" name="sendType" checked>
                <label class="form-check-label" for="reinforcement" >
                  Reinforcement
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="pillage" id="pillage" name="sendType">
                <label class="form-check-label" for="pillage" >
                  ATTACK - Pillage
                </label>
              </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" value="attackblock" id="attackblock" name="sendType">
                  <label class="form-check-label" for="attackblock" >
                    ATTACK - Line/Block
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" value="attackflank" id="attackflank" name="sendType">
                  <label class="form-check-label" for="attackflank" >
                    ATTACK - Flank
                  </label>
                </div>
              

              


              <button type="submit" class="btn btn-danger">TO WAR</button>
            </div>

        </form>

      <hr>

      <br>

      <h4>DEPARTING CAMPAIGNS</h4>

      {% for camp in departing_campaigns %}
      <div>TO: {{camp.target_location}}  </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div>Arriving at: {{camp.arriving_time}} | <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  </div>
      <div class="battle-field">
        <span id="battle-field">BATTLE FIELD</span>
      </div>
      <div class="departing-camp-container">
        {% for group in camp.group %}
        <div class="departing-troop-item">
              {% if group.count == 0 %}
              x
              {% else %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
            </div>
        {% endfor %}
        
      </div>
      <hr>
      
      {% endfor %}


      <h4>Arriving CAMPAIGNS</h4>

      {% for camp in arriving_campaigns %}
      <div>FROM: {{camp.target_location}}  </div>
      <div>Type: {{camp.campaign_type}}  </div>
      <div>Arriving at: {{camp.time_left}} | 
        <!--
          <span class="countdown">{{camp.arriving_time|date:"c"}} </span>  
        -->
      </div>
      <div class="arriving-camp-container">
        {% for group in camp.group %}
        <div class="arriving-troop-item">
              {% if group.count == 0 %}
              x
              {% else %}
              <div>{{group.user_troop.troop}}</div>
              <div>{{group.count}}</div>
              {% endif %}
            </div>
        {% endfor %}
        <div> Wood: {{camp.arriving_wood}} | Stone: {{camp.arriving_stone}} | Iron: {{camp.arriving_iron}} | Grain: {{camp.arriving_grain}} </div>
      </div>
      <hr>
      
      {% endfor %}


  </div>
</div>


<script>
      const selectImgPairs = document.querySelectorAll('[id^="slc-"]');
      selectImgPairs.forEach(pair => {
        const imgd = document.querySelector(`#img${pair.id.slice(4)}`);

        // add event listener to select element
        pair.addEventListener('change', (event) => {
          console.log('Attack çalıştı');
          const selected = pair.querySelector(`option[value="${event.target.value}"]`);
          const idd = selected.id
          imgd.src = `{% get_static_prefix %}images/troops/${idd}.png`;
        });
      });
</script>

<script>
      const selectImgPairsd = document.querySelectorAll('[id^="slcd-"]');
      selectImgPairsd.forEach(pair => {
        const imgd = document.querySelector(`#imgd${pair.id.slice(5)}`);
        
        // add event listener to select element
        pair.addEventListener('change', (event) => {
          console.log('Defence çalıştı');
          const selected = pair.querySelector(`option[value="${event.target.value}"]`);
          const idd = selected.id
          imgd.src = `{% get_static_prefix %}images/troops/${idd}.png`;
        });
      });
</script>

<script>
  {% for block in blocks %}
  
    var range{{block}} = document.getElementById("customRange{{block}}");
    var rangeValue{{block}} = document.getElementById("rangeValue{{block}}");
    
    // update the range value display on input change
    range{{block}}.addEventListener("input", function() {
      rangeValue{{block}}.innerHTML = range{{block}}.value;
    });
  {% endfor %}
  
</script>

<script>

  $(document).ready(function() {
    $(".countdown").each(function() {
      var datetimeStr = $(this).text().trim();
      var datetime = moment.utc(datetimeStr);
  
      var x = setInterval(function() {
        var now = moment.utc();
        var distance = moment.duration(datetime.diff(now));
  
        if (distance.asSeconds() < 0) {
          clearInterval(x);
          $(this).html("ARRIVED");
          return;
        }
  
        var hours = Math.floor(distance.asHours() % 24);
        var minutes = Math.floor(distance.asMinutes() % 60);
        var seconds = Math.floor(distance.asSeconds() % 60);
  
        $(this).html(hours + "h " + minutes + "m " + seconds + "s");
      }.bind(this), 1000);
    });
  });
  
  
  
</script>

    {% endblock body %}