<hr>
<h4>SET DEFENSIVE FORMATION</h4>
  
<form method="post" id="defence"> {% csrf_token %}


  <input type="hidden" name="form_type" value="defence">

  <div class="formation-table">
  
    <div class="formation-row">
      <div class="formation-item" id="31">
        
          <select id="slcd-31" name="troop31" class="troop-select" aria-label="Default select example">
            {% for troop in union_troops %}
            <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop31 %} selected {% endif %} >{{troop.troop}}</option>
            {% endfor %}
          </select>

          <img id="imgd31" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop31}}.png" alt="">

          <input type="range" name="numd31" class="form-range range-input" id="customRange1" min="0" max="100" step="5" value="{{defensive_formation_data.numd31}}">
          <div><span>%</span><span class="range-value" id="rangeValue1">{{defensive_formation_data.numd31}}</span>  | {{defensive_formation_data.countd31}}</div>

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Add Hero</option>

            {% for hero in user_heroes %}
            <option value="{{hero.id}}">{{hero.hero}}</option>
            {% endfor %}

          </select>
      </div>

      <div class="formation-item" id="32">
           
        
        <select id="slcd-32" name="troop32" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop32 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>

          <img id="imgd32" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop32}}.png" alt="">


        <input type="range" name="numd32" class="form-range range-input" id="customRange2" min="0" max="100" step="5" value="{{defensive_formation_data.numd32}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue2">{{defensive_formation_data.numd32}}</span> | {{defensive_formation_data.countd32}}</div> 

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

      <div class="formation-item"  id="33">
        

        <select id="slcd-33" name="troop33" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop33 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>
        
        <img id="imgd33" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop33}}.png" alt="">

        <input type="range" name="numd33" class="form-range range-input" id="customRange3" min="0" max="100" step="5" value="{{defensive_formation_data.numd33}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue3">{{defensive_formation_data.numd33}}</span>  | {{defensive_formation_data.countd33}}</div> 

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

      <div class="formation-item"  id="34">
        

        <select id="slcd-34" name="troop34" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop34 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>
        
        <img id="imgd34" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop34}}.png" alt="">

        <input type="range" name="numd34" class="form-range range-input" id="customRange4" min="0" max="100" step="5" value="{{defensive_formation_data.numd34}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue4">{{defensive_formation_data.numd34}}</span>  | {{defensive_formation_data.countd34}}</div> 

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

    </div>

    <div class="formation-row">
      <div class="formation-item" id="21">
        <b>21</b>
          <select id="slcd-21" name="troop21" class="troop-select" aria-label="Default select example">
            {% for troop in union_troops %}
            <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop21 %} selected {% endif %}>{{troop.troop}}</option>
            {% endfor %}
          </select>

          <img id="imgd21" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop21}}.png" alt="">

          <input type="range" name="numd21" class="form-range range-input" id="customRange5" min="0" max="100" step="5" value="{{defensive_formation_data.numd21}}">
          <div> <span>%</span> <span class="range-value" id="rangeValue5">{{defensive_formation_data.numd21}}</span>  | {{defensive_formation_data.countd21}}</div> 

          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Add Hero</option>

            {% for hero in user_heroes %}
            <option value="{{hero.id}}">{{hero.hero}}</option>
            {% endfor %}

          </select>
      </div>

      <div class="formation-item" id="22">
        <b>22</b>    
        
        <select id="slcd-22" name="troop22" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop22 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>

        <img id="imgd22" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop22}}.png" alt="">

        <input type="range" name="numd22" class="form-range range-input" id="customRange6" min="0" max="100" step="5" value="{{defensive_formation_data.numd22}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue6">{{defensive_formation_data.numd22}}</span>  | {{defensive_formation_data.countd22}}</div> 

        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

      <div class="formation-item"  id="23">
        <b>23</b>

        <select id="slcd-23" name="troop23" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop23 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>
        
        <img id="imgd23" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop23}}.png" alt="">

        <input type="range" name="numd23" class="form-range range-input" id="customRange7" min="0" max="100" step="5" value="{{defensive_formation_data.numd23}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue7">{{defensive_formation_data.numd23}}</span>  | {{defensive_formation_data.countd23}}</div> 
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

      <div class="formation-item"  id="24">
        <b>24</b>

        <select id="slcd-24" name="troop24" class="troop-select" aria-label="Default select example">
          {% for troop in union_troops %}
          <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop24 %} selected {% endif %}>{{troop.troop}}</option>
          {% endfor %}
        </select>
        
        <img id="imgd24" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop24}}.png" alt="">

        <input type="range" name="numd24" class="form-range range-input" id="customRange8" min="0" max="100" step="5" value="{{defensive_formation_data.numd24}}">
        <div> <span>%</span> <span class="range-value" id="rangeValue8">{{defensive_formation_data.numd24}}</span>  | {{defensive_formation_data.countd24}}</div> 
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Add Hero</option>

          {% for hero in user_heroes %}
          <option value="{{hero.id}}">{{hero.hero}}</option>
          {% endfor %}

        </select>
      </div>

    </div>


      <div class="formation-row">
        <div class="formation-item" id="11">
          <b>11</b>
            <select id="slcd-11" name="troop11" class="troop-select" aria-label="Default select example">
              {% for troop in union_troops %}
              <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop11 %} selected {% endif %}>{{troop.troop}}</option>
              {% endfor %}
            </select>

            <img id="imgd11" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop11}}.png" alt="">

            <input type="range" name="numd11" class="form-range range-input" id="customRange9" min="0" max="100" step="5" value="{{defensive_formation_data.numd11}}">
            <div> <span>%</span> <span class="range-value" id="rangeValue9">{{defensive_formation_data.numd11}}</span>  | {{defensive_formation_data.countd11}}</div> 
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Add Hero</option>

              {% for hero in user_heroes %}
              <option value="{{hero.id}}">{{hero.hero}}</option>
              {% endfor %}

            </select>
        </div>

        <div class="formation-item" id="12">
          <b>12</b>    
          
          <select id="slcd-12" name="troop12" class="troop-select" aria-label="Default select example">
            {% for troop in union_troops %}
            <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop12 %} selected {% endif %}>{{troop.troop}}</option>
            {% endfor %}
          </select>

          <img id="imgd12" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop12}}.png" alt="">

          <input type="range" name="numd12" class="form-range range-input" id="customRange10" min="0" max="100" step="5" value="{{defensive_formation_data.numd12}}">
          <div> <span>%</span> <span class="range-value" id="rangeValue10">{{defensive_formation_data.numd12}}</span>  | {{defensive_formation_data.countd12}}</div> 
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Add Hero</option>

            {% for hero in user_heroes %}
            <option value="{{hero.id}}">{{hero.hero}}</option>
            {% endfor %}

          </select>
        </div>

        <div class="formation-item"  id="13">
          <b>13</b>

          <select id="slcd-13" name="troop13" class="troop-select" aria-label="Default select example">
            {% for troop in union_troops %}
            <option id="{{troop.troop.id}}" value="{{troop.id}}"{% if troop.troop.id == defensive_formation_data.troop13 %} selected {% endif %}>{{troop.troop}}</option>
            {% endfor %}
          </select>
          
          <img id="imgd13" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop13}}.png" alt="">

          <input type="range" name="numd13" class="form-range range-input" id="customRange11" min="0" max="100" step="5" value="{{defensive_formation_data.numd13}}">
          <div> <span>%</span> <span class="range-value" id="rangeValue11">{{defensive_formation_data.numd13}}</span>  | {{defensive_formation_data.countd13}}</div> 
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Add Hero</option>

            {% for hero in user_heroes %}
            <option value="{{hero.id}}">{{hero.hero}}</option>
            {% endfor %}

          </select>
        </div>

        <div class="formation-item"  id="14">
          <b>14</b>

          <select id="slcd-14" name="troop14" class="troop-select" aria-label="Default select example">
            {% for troop in union_troops %}
            <option id="{{troop.troop.id}}" value="{{troop.id}}" {% if troop.troop.id == defensive_formation_data.troop14 %} selected {% endif %}>{{troop.troop}}</option>
            {% endfor %}
          </select>
          
          <img id="imgd14" class="formation-img" src="{% get_static_prefix %}images/troops/{{defensive_formation_data.troop14}}.png" alt="">

          <input type="range" name="numd14" class="form-range range-input" id="customRange12" min="0" max="100" step="5" value="{{defensive_formation_data.numd14}}">
          <div> <span>%</span> <span class="range-value" id="rangeValue12">{{defensive_formation_data.numd14}}</span> | {{defensive_formation_data.countd14}}</div> 
          
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Add Hero</option>

            {% for hero in user_heroes %}
            <option value="{{hero.id}}">{{hero.hero}}</option>
            {% endfor %}

          </select>
        </div>

      </div>
  
      <div class="battle-field">
        <span id="battle-field">BATTLE FIELD</span>
      </div>

  </div>

  <button type="submit" class="btn btn-danger">SAVE POSITION</button>


</form>