{% extends 'main/layout.html' %}
{% load static %}

{% block body %}

<a href="/usermessages/inbox">
    <button type="button" class="btn btn-primary">INBOX</button>
</a>

<a href="/usermessages/sent">
    <button type="button" class="btn btn-info">SENTBOX</button>
</a>

<a href="/usermessages/new_message">
  <button type="button" class="btn btn-success">NEW MESSAGE</button>
</a>




<h5>INBOX</h5>

<div class="inbox">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">FROM</th>
        <th scope="col">TITLE</th>
        <th scope="col">TIME</th>
        <th scope="col">DEL</th>
      </tr>
    </thead>
    <tbody>

        {% for mes in inbox %}

      <tr style="{% if not mes.is_read %} background:green; {% endif %}">
        
        <th scope="row">{{mes.sender}}</th>
        <td> <a href="/usermessages/{{mes.id}}/"> {{mes.header}} </a>  </td>
        <td> {{mes.time}} </td>
        <td> <a href="/usermessages/{{mes.id}}/">DEL</a>   </td>
      
      </tr>


      {% endfor %}

    </tbody>
  </table>

</div>






<hr>


{% endblock body %}