{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/usermessages.css' %}" type="text/css">
{% endblock head %}



{% block body %}



<div class="message-container">

  <div class="menu-bar">
    <div class="menu-line"><a href="/usermessages/new_message">New Message</a></div>
    <div class="menu-line"><a href="/usermessages/inbox">Inbox</a></div>
    <div class="menu-line active"><a href="/usermessages/sent">Sent</a></div>
  </div>


  <div class="message-box">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">FROM</th>
          <th scope="col">TITLE</th>
          <th scope="col">TIME</th>
        </tr>
      </thead>
      <tbody>
  
          {% for mes in sent %}
  
        <tr>
          
          <th scope="row">{{mes.sender}}</th>
          <td> <a href="/usermessages/{{mes.id}}/"> {{mes.header}} </a>  </td>
          <td> {{mes.time|date:"d/M/Y H:i" }} </td>
        
        </tr>
  
  
        {% endfor %}
  
      </tbody>
    </table>

  </div>



</div>




{% endblock body %}