{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
{% endblock head %}

{% block body %}

<div style="text-align:center;">
    <h2><b>{{building.building}}</b></h2>
    Level: {{building.level}}
</div>


    {% if building.level != 0 %}
        {% for troop in trainings %}

            <div class="troop-frame">
                <div class="troop-frame-left">
                    {% load static %}
                    <img class="troop-icon" src="{% get_static_prefix %}images/troops/{{troop.troop.id}}.png" alt="{{troop.troop.name}}"> 

                </div>

                <div class="troop-frame-right">
                    <b>{{troop.troop}} </b>
                    <i>Current Troop Number:</i> <b>{{troop.count}}</b>
                    <div class="mini-resource">
                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/wood.png' %}" alt="Wood">  {{troop.troop.wood}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/stone.png' %}" alt="Wood">  {{troop.troop.stone}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/iron.png' %}" alt="Wood"> {{troop.troop.iron}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/grain2.png' %}" alt="Grain">  {{troop.troop.grain}}

                    </div>
                    <div>Training Time Per Troop: {{troop.training_time }} <span id="trainingtime"></span> seconds</div>
                    <div><i>Building Level Requires: {{troop.troop.prerequisite}}</i> </div>
                    <p></p>
                    <form method="post" class="troop-train">
                        {% csrf_token %}

                        <input type="number" style="line-height: 2rem;"  id="{{ troop.troop.name }}" name="{{troop.troop.id}}" placeholder=""  {% if not troop.prerequisite %} disabled {% endif %}  >
                    
                        <button type="submit" class="btn btn-secondary">TRAIN</button>
                    </form>
                </div>
            </div>

                {% if troop.training %}

                    <div class="troop-frame2">
                        <div class="troop-frame-left">
                            <b>Training:</b> {{troop.training}}

                        </div>

                        <div class="troop-frame-right">
                            <p><b>Ready at:</b>  {{troop.time_left_total|date:'d M Y, H:i:s'}}</p>
                            <p><b>Next Troop: </b> <span class="countdown">{{troop.time_left_per_troop}}</span>  seconds left</p>
                        </div>
                    </div>

                {% endif %}

            <hr>

        {% endfor %}


    {% else %}
        <h4>BUILDING...</h4>
    {% endif %}



    {% if building.time_left != 0 %}

        <div id="countdown"></div>

        <br>
        <b>Finish at: {{building.finish|date:'d M Y, H:i:s'}} </b>

        <a href="/building/{{settlement_id}}/cancel">
            <button type="button" class="btn btn-warning">Cancel Update</button>
        </a>

        {% else %}
<p>UPDATE</p>
        <p>Wood: {{building.update_wood}} - Stone: {{building.update_stone}} - Iron: {{building.update_iron}} - Grain: {{building.update_grain}} </p>

        Available {{builder.troop}}: {{builder.count}}

        <form>
            <select id="my-select">
                {% for number in builder_iterator %}
                <option value="{{number}}"> {{number}} Builders </option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary" type="button" onclick="submitForm()">UPDATE</button>
        </form>

    {% endif %}

   
   <br>
    <button class="btn btn-dark" onclick="confirmRedirect()">Demolish the Building</button>




<script>
  function confirmRedirect() {
    if (confirm("You will demolish this building. Are you sure?")) {
      window.location.href = "/building_demolish/{{settlement_id}}";
    }
  }
</script>





<script>
    function submitForm() {
        var select = document.getElementById("my-select");
        var selectedValue = select.options[select.selectedIndex].value;
        // Construct the URL using the selected value
        var url = '/building_update/{{settlement_id}}/' + selectedValue + '/';
        // Redirect the user to the URL
        window.location.href = url;
      }
    
</script>




<script>
    // Loop through all the span elements with the class "countdown"
$('.countdown').each(function() {
    var countdownValue = parseInt($(this).text().replace(',', '')); // Get the numerical value of the countdown
    var countdownInterval = setInterval(function() {
      countdownValue--; // Decrement the countdown value
      if (countdownValue <= 0) { // If countdown value reaches zero, clear the interval
        clearInterval(countdownInterval);
        location.reload();
      }
      $(this).text(countdownValue.toLocaleString()); // Update the span element with the new countdown value
    }.bind(this), 1000); // Set interval to decrement the value every second
  });
  
</script>




<script>
    var countdownElement = document.getElementById('countdown2');
var remainingTime2 = {{ troop.time_left_per_troop }}; // assuming integer_object is the integer object you sent to the template

function updateCountdown2() {
    if (remainingTime2 <= 0) {
        countdownElement.innerHTML = 'Countdown finished!';
    } else {
        var minutes = Math.floor(remainingTime2 / 60);
        var seconds = remainingTime2 % 60;
        countdownElement.innerHTML = 'Time remaining: ' + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        remainingTime2--;
        setTimeout(updateCountdown2, 1000);
    }
}

updateCountdown2();
</script>




{% endblock body %}