{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/fortress.css' %}" type='text/css'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock head %}

{% block body %}

<div class="flex-center">

    {% include "main/mini_resources.html" %}
</div>

<div class="flex-center">
    <div class="mini-resource">

        <img class="ring-resource-icon" src="{% static 'images/others/rings.png' %}" title="Rings">  {{resources.rings}}


        <img
        {% if not resources.the_one_ring %}  style="filter:grayscale(100%);"{% endif %}
        
        class="ring-resource-icon" src="{% static 'images/others/one-ring.png' %}" title="The One Ring">

    </div>
</div>

<div style="text-align:center;">
    <h2><b>{{building.building}}</b></h2>
    Level: {{building.level}}
</div>

{% if building.level != 0 %}

<div class="train-section">

    <div class="builder-train-container">
        {% for troop in trainings %}

            <div class="troop-frame">
                <div class="troop-frame-left">
                    {% load static %}
                    <img class="troop-icon" src="{% get_static_prefix %}images/troops/{{troop.troop.id}}.png" alt="{{troop.troop.name}}"> 

                </div>

                <div class="troop-frame-right">
                    <b>{{troop.troop}} </b>
                    <i>Current Troop Number:</i> <b>{{troop.count}}</b>
                    <div class="mini-resource">
                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/wood.png' %}" alt="Wood">  {{troop.troop.wood}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/stone.png' %}" alt="Wood">  {{troop.troop.stone}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/iron.png' %}" alt="Wood"> {{troop.troop.iron}}

                        {% load static %}
                        <img class="resource-icon" src="{% static 'images/others/grain2.png' %}" alt="Grain">  {{troop.troop.grain}}

                    </div>

                        <div>Training Time Per Troop: {{troop.training_time }} <span id="trainingtime"></span> seconds
                        </div>
                    <br>
                    <form method="post" class="troop-train">
                        {% csrf_token %}

                        <input type="hidden" name="form_type" value="builder_training">

                        <input type="number" style="line-height: 2rem;"  id="{{ troop.troop.name }}" name="{{troop.troop.id}}" placeholder=""  {% if not troop.prerequisite %} disabled {% endif %}  >
                    
                        <button type="submit" class="btn btn-secondary">TRAIN</button>
                    </form>


                    {% if troop.training %}

                    <div class="troop-frame2">
                        <div class="troop-frame-left">
                            <b>Training:</b> {{troop.training}}

                        </div>

                        <div class="troop-frame-right">
                            <p><b>Ready at:</b>  {{troop.time_left_total|date:'d M Y, H:i:s'}}</p>
                            <p><b>Next Troop: </b> {{troop.time_left_per_troop}} seconds left</p>
                        </div>
                    </div>

                {% endif %}




                </div>
            </div>



            <hr>

        {% endfor %}



        
    </div>

{% include "main/super_power_section.html" %}


</div>


    



        <div class="user-heroes-container">
            <form method="POST" id="refresh-hero">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="refresh-hero">
                <button type="submit" class="btn btn-success btn-sm" style="width: 160px;">REFRESH HEROES HEALTH</button>
                
            </form>



            {% for hero in user_heroes %}

            
            
            <div class="user-hero-card">
                {% if hero.is_dead and hero.regenerate_time_left == 0  %}
                <form method="POST" id="revival-hero">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="revival-hero">
                    <input type="hidden" name="hero_id" value="{{hero.id}}">
                    <button type="submit" class="btn btn-info btn-sm" style="width: 120px;" onclick="return confirm('You will revival the {{hero.hero}} for 7500 items from each resources. Are you sure?')">REVIVE</button>
                    
                </form>
                {% endif %}

                <div class="text-medium-bold">{{hero.hero}}</div>
                {% if hero.regenerate_time_left != 0 %}
                <div class="text-medium-bold"><i>Hero is reviving.</i></div>
                <div>Time Left: {{hero.regenerate_time_left}}</div>
                {% endif %}

                <div><img id="hero.id" class="user-hero-image" src="{% get_static_prefix %}images/heroes/{{hero.hero.id}}.png" alt="" {% if hero.is_dead  %} style="filter: grayscale(100%);"   {% endif %}></div>
                <div><span class="text-medium-bold">Current Health:</span> {{hero.current_health}}</div>

                <form method="POST" id="return-hero">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="return-hero">
                    <input type="hidden" name="hero_id" value="{{hero.id}}">
                    <button type="submit" class="btn btn-danger btn-sm" style="width: 120px;" onclick="return confirm('You will returm the {{hero.hero}} for half-price. Are you sure?')">RETURN</button>
                    
                </form>
                
            </div>
            {% endfor %}
        </div>

        <hr>

        <div class="buy-heroes-parent-container">

            
            <div class="buy-heroes-container">
                
                {% for hero in hero_list %}
                <div class="buy-hero-card">
                    <div class="text-medium-bold">{{hero}}</div>
                    <div><div><img id="hero.id" class="user-hero-image" src="{% get_static_prefix %}images/heroes/{{hero.id}}.png" alt=""></div></div>
                    <div> <span class="text-small-bold">Health:</span> {{hero.health}} | <span class="text-small-bold">Damage:</span> {{hero.damage}}  </div>
                    {% if hero.crash_bonus > 0 %}
                    <div> <span class="text-small-bold">Crash Bonus:</span> {{hero.crash_bonus}} </div>
                    {% endif %}

                    {% if hero.attack_bonus_types %}
                    <div> <span class="text-small-bold">Attack Bonus:</span> {{hero.attack_bonus_types}} </div>
                    {% endif %}

                    {% if hero.defence_bonus_types %}
                    <div> <span class="text-small-bold">Defence Bonus:</span> {{hero.defence_bonus_types}} </div>
                    {% endif %}
                    <div class="hero-token-row"> <span class="text-medium-bold">Token: {{hero.token}}</span> <img id="hero.id" class="hero-token" src="{% get_static_prefix %}images/others/token2.png" alt="" title="WoS Token"></div>
                    
                    <div> <a href="/guide#hero{{hero.id}}" target="_blank"> <b>Detail</b> </a> </div>
                    <div class="button-push" style="margin-top:auto;">

                        <form method="POST" id="hero-buy">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="hero-buy">
                            <input type="hidden" name="hero_id" value="{{hero.id}}">
                            <button type="submit" class="btn btn-success btn-sm" style="width: 120px;" onclick="return confirm('You will get the {{hero}} for {{hero.token}} token. Are you sure?')">GET</button>
                            
                        </form>
                    </div>

                </div>
                
                {% endfor %}



                <div class="buy-ring-hero">
                    <div class="text-medium-bold">{{ring_hero}}</div>
                    <div><div><img id="hero.id" class="user-hero-image ring-hero-good" src="{% get_static_prefix %}images/heroes/{{ring_hero.id}}.png" alt=""></div></div>
                    <div> <span class="text-small-bold">Health:</span> {{ring_hero.health}} | <span class="text-small-bold">Damage:</span> {{ring_hero.damage}}  </div>
                    {% if ring_hero.crash_bonus > 0 %}
                    <div> <span class="text-small-bold">Crash Bonus:</span> {{ring_hero.crash_bonus}} </div>
                    {% endif %}

                    {% if ring_hero.attack_bonus_types %}
                    <div> <span class="text-small-bold">Attack Bonus:</span> {{ring_hero.attack_bonus_types}} </div>
                    {% endif %}

                    {% if ring_hero.defence_bonus_types %}
                    <div> <span class="text-small-bold">Defence Bonus:</span> {{ring_hero.defence_bonus_types}} </div>
                    {% endif %}
                    <div class="hero-token-row"> <span class="text-medium-bold">Rings: {{ring_hero.rings}}</span> </div>
                    
                    <div> <a href="/guide#hero{{ring_hero.id}}" target="_blank"> <b>Detail</b> </a> </div>
                    <div class="button-push" style="margin-top:auto;">

                        <form method="POST" id="ring-hero-buy">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="ring-hero-buy">
                            <input type="hidden" name="hero_id" value="{{ring_hero.id}}">
                            <button type="submit" class="btn btn-success btn-sm" style="width: 120px;" onclick="return confirm('You will get the {{ring_hero}}. Are you sure?')">GET</button>
                            
                        </form>
                    </div>


                </div>


                {% if resources.the_one_ring %}

   


                    <div class="buy-ring-hero" style="background:#303030bf; color: white; border:black;">
                        <div class="text-medium-bold">{{one_ring_hero}}</div>
                        <div><div><img style="border:black;" id="hero.id" class="user-hero-image ring-hero-good" src="{% get_static_prefix %}images/heroes/{{one_ring_hero.id}}.png" alt=""></div></div>
                        <div> <span class="text-small-bold">Health:</span> {{one_ring_hero.health}} | <span class="text-small-bold">Damage:</span> {{one_ring_hero.damage}}  </div>
                        <div> <span class="text-small-bold">Crash Bonus:</span> {{one_ring_hero.crash_bonus}} </div>


                        <div class="button-push" style="margin-top:auto;">

                            <form method="POST" id="one-ring-hero-buy">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="one-ring-hero-buy">
                                <input type="hidden" name="hero_id" value="{{one_ring_hero.id}}">
                                <button type="submit" class="btn btn-success btn-sm" style="width: 120px;" onclick="return confirm('You will get the {{one_ring_hero}}. Are you sure?')">GET</button>
                                
                            </form>
                        </div>


                    </div>



                {% endif %}














                
                
            
                </div>











































            
        </div>

    {% else %}
        <h4>BUILDING...</h4>
    {% endif %}



    {% if building.time_left != 0 %}

        <div id="countdown"></div>

        <br>
        <b>Finish at: {{building.finish|date:'d M Y, H:i:s'}} </b>

        <a href="/building/{{settlement_id}}/cancel">
            <button type="button" class="btn btn-warning">Cancel Update</button>
        </a>

        {% else %}
<p>UPDATE</p>
        <p>Wood: {{building.update_wood}} - Stone: {{building.update_stone}} - Iron: {{building.update_iron}} - Grain: {{building.update_grain}} </p>

        Available {{builder.troop}}: {{builder.count}}

        <form>
            <select id="my-select">
                {% for number in builder_iterator %}
                <option value="{{number}}"> {{number}} Builders </option>
                {% endfor %}
            </select>
            <button class="btn btn-secondary" type="button" onclick="submitForm()">UPDATE</button>
        </form>

    {% endif %}




<script>
    function submitForm() {
        var select = document.getElementById("my-select");
        var selectedValue = select.options[select.selectedIndex].value;
        // Construct the URL using the selected value
        var url = '/building_update/{{settlement_id}}/' + selectedValue + '/';
        // Redirect the user to the URL
        window.location.href = url;
      }
    
</script>



<script>
    function updateCountdown(initialValue) {
      var timeLeft = initialValue;
    
      var intervalId = setInterval(function() {
        if (timeLeft <= 0) {
          clearInterval(intervalId);
          document.getElementById("countdown").innerHTML = "Power is READY!";
        } else {
          var hours = Math.floor(timeLeft / (60 * 60));
          var minutes = Math.floor((timeLeft % (60 * 60)) / 60);
          var seconds = Math.floor(timeLeft % 60);
          document.getElementById("countdown").innerHTML = hours + ":" + minutes + ":" + seconds;
          timeLeft--;
        }
      }, 1000);
    }
    
    var initialValue = parseInt(document.getElementById("countdown").textContent.replace(",", ""), 10);
    updateCountdown(initialValue);
    </script>


  <!--  FOR LOCATION CHECK  -->

  <script>
    $(document).ready(function() {
      // Define your data dictionary with coordinates and names
      var data = JSON.parse('{{location_data|escapejs}}') ;
  
      // Listen for changes to the input fields
      $('#locx, #locy').on('change', function() {
        // Get the values of the input fields
        var locx = $('#locx').val();
        var locy = $('#locy').val();
  
        // Build the coordinate key for the data dictionary
        var key = locx + ',' + locy;
  
        // Check if the key exists in the data dictionary
        if (key in data) {
          // If it does, show the corresponding name
          $('#result').text(data[key]);
        } else {
          // If it doesn't, show an error message
          $('#result').text('Not found');
        }
      });
    });
  </script>



   <!--  Incoming link with params  -->
<script>
    // Get the URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const locx = urlParams.get('locx');
    const locy = urlParams.get('locy');
  
    // Set the values of the input fields
    document.getElementById('locx').value = locx;
    document.getElementById('locy').value = locy;
  </script>
 

{% endblock body %}