<div class="midi-resource">
    {% load static %}

    <div><img class="resource-icon" src="{% static 'images/others/wood.png' %}" alt="Wood">  {{resources.wood}}</div>
    

    {% load static %}
    <div><img class="resource-icon" src="{% static 'images/others/stone.png' %}" alt="Wood">  {{resources.stone}}</div>
    

    {% load static %}
    <div><img class="resource-icon" src="{% static 'images/others/iron.png' %}" alt="Wood"> {{resources.iron}}</div>
    

    {% load static %}
    <div><img class="resource-icon" src="{% static 'images/others/grain2.png' %}" alt="Grain">  {{resources.grain}}</div>
    

    {% load static %}
    <div><img class="token-icon" src="{% static 'images/others/token2.png' %}" alt="Token">  {{resources.token}}</div>
    

</div>