.defend-grid-container{
    width: 820px;
}

.attack-grid-container{
    width: 820px;
}

.attack-grid-row{
    display: flex;
    width: 70%;
    min-width: 800px;
    column-gap: 5px;
    align-self: stretch;
}

.troop-grid-item{
    display: flex;
    flex-direction: column;
    width: 180px;
    min-height: 65px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px dashed black;
    padding: 3px;
    margin-top: 5px;
}

.defend-grid-row{
    display: flex;
    width: 70%;
    min-width: 800px;
    column-gap: 5px;
    align-items: stretch;
}

.nonex{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}



.battle-group-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

.battle-grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px dashed black;
    padding: 3px;
    background: lightpink;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    font-size: 0.6rem;
}
