.text-medium-bold{
    font-size: 0.9rem;
    font-weight: bolder;

}

.text-small-bold{
    font-size: 0.8rem;
    font-weight: bolder;

}

.user-heroes-container{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.user-hero-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 2px;
    width: 180px;
    min-height: 200px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    border: 1px white solid;
    background: #d95252bf;
    text-align: center;
    font-size: 0.9rem;
}

.user-hero-card:hover{
    border: 2px red solid;
}

.user-hero-image{
    width: 100px;
    border-radius: 10px;
}


.buy-heroes-parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buy-heroes-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.buy-hero-card{
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    padding: 5px;
    width: 185px;
    min-height: 240px;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    border: 1px white solid;
    background: #d95252bf;
    text-align: center;
    font-size: 0.8rem;
}

.buy-hero-card:hover{
    border: 2px red solid;
}

.hero-token{
    width: 20px;
    border-radius: 50%;
}

.hero-token-row{
    display: flex;
    justify-content: center;
    column-gap: 2px;
}

.hero-dead{
    filter: blur(2px);
    filter: grayscale(100%)
}