a:link{
    color: #000000;
 }

a:visited{
    color:black;
}



/* ----------- INDEX PAGE -------------------  */

.section{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.6;
    border-radius: 10px;

}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.color-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
}



.body {
    background: rgb(185, 215, 231);
    font-family: 'Garamond';
    font-size: 1.1rem;
}

.base{
    margin: 30px;
}

.resources{
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-item{
    display: flex;
    align-items: center;
    min-width: 150px;
}


.mini-resource{
    display: flex;
    max-width: 400px;
    min-width: 200px;
    column-gap: 10px;
    font-size: 1.3rem;
    background: black;
    border: 3px solid goldenrod;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}

.resource-icon{
    width: 1.5rem;

}

.troop-frame{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 25px;
    border: 2px gray solid;
}

.troop-frame2{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: 10px;
    border: 1px gray solid;
}

.troop-frame-left{
    width: 140px;
    text-align: center;
    border: 1px gray solid;
}

.troop-frame-right{
    width: 700px;
    border: 1px gray solid;
}

.troop-icon{
    height: 120px;
    border-radius: 50%;
    border: 2px gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform .6s ease-in-out;
    filter: grayscale(100%);
}

.troop-icon:hover{
    transform: scale(1.05);
    box-shadow: rgba(161, 13, 13, 0.25) 0px 54px 55px, rgba(181, 6, 6, 0.12) 0px -12px 30px, rgba(245, 38, 38, 0.12) 0px 4px 6px, rgba(233, 56, 56, 0.17) 0px 12px 13px, rgba(233, 34, 34, 0.09) 0px -3px 5px;
    filter: grayscale(0%);
    transition: 0.6s;
}

.troop-train{
    display: flex;
    max-width: 500px;
    height: 40px;
    column-gap: 5px;
}

.troop-icon{
    height: 120px;
}


.armory-fields{
    margin-bottom: 10px;
}


/* ********   MESSAGES PAGE     ******** */

.inbox{
    max-width: 600px;
    margin: 30px;
}

.message-detail{
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
}

.sender{
    background: goldenrod;
    border-radius: 10px;
    padding: 10px;
}

.header{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

.message-content{
    background: bisque;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;

}



/* **************   SETTLEMENT CENTER   ******************** */

.center{

    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}

.settlement-background{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.settlement1{
    position: sticky;
    top: 100px;
    left: 100px;
    border: 1px solid white;
    z-index: 2;
    width: auto;
    height: auto;

}





/* ----------------ENCAMPMENT STYLES------------------ */

.encampment-container{
    display: flex;
    width: 100%;
    justify-items: center;
    column-gap: 10px;
    /* justify-content: space-between; */
    /* overflow: auto; */
    
}

.current-troop-container{
    display: flex;
    justify-content: center;
    /* align-content: baseline; */
    width: 30%;
    min-width: 250px;
    max-width: 460px;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    align-self: flex-start;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.current-troop-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: #99EDC3;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100px;
    /* height: 130px; */
    font-size: 0.8rem;

}


.troop-management-container{
    display: flex;
    flex-direction: column;
    min-width: 800px;
    min-width: 70%;
    align-items: center;

}

.table td {
    text-align: center;   
 }
 
.table th {
    text-align: center;
    width: 90px; 
 }

 .troop-input{
    width: 100%;
    background: transparent;
    text-align: center;
    font-weight: bolder;
    
 }

 .troop-input input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }


.troop-icon-camp{
    height: 80px;
    border-radius: 10px;
    display: block;
    margin: auto;
    text-align: center;

}



/* ----------- FORMATION STYLES -----------  */

.battle-field{
    height: 50px;
    background-image: repeating-linear-gradient(-45deg, rgba(205, 17, 17, 0.08), rgba(205, 17, 17, 0.08) 10px, transparent 10px, rgba(35, 35, 37, 0.7) 10px, transparent 10px, rgba(35, 35, 37, 0.7) 20px);
    background-color: rgba(205, 17, 17, 0.7);
    color: #fff;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;

    width: 730px;
    border-radius: 10px;
    border: 2px solid black;

}



.formation-table{
    display: flex;
    /* margin-right: 70px;
    margin-left: 70px; */
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

.formation-row{
    display: flex;
    column-gap: 5px;
    justify-content: center;
}

.formation-item{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 180px;
    min-height: 130px;
    background: burlywood;
    align-items: center;
    padding: 3px;
    border-radius: 6px;
    border: 1px dashed black;

}

.formation-img{
    width: 90px;

    
}



/* ************************* */

.troop-select {
    background-color: transparent;
    font-weight: bolder;
  }
  
select option {
    text-align: center;
  }


.two-container{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.defend-grup{
    width: 45%;
}

.attack-grup{
    width: 45%;
}