{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/battle.css' %}" type='text/css'>
{% endblock head %}




{% block body %}

<div class="two-container">

    <div class="defend-grup">
        <h4>DEFEND GROUP</h4>
    {% for k,v in defend_group.items %}
    <div>Blok: {{k}} -- Stats: {{v}} </div>
    {% endfor %}
    </div>
    
    
    <div class="attack-grup">
        <p>ATTACK TROOPS</p>
    
    {% for k,v in attack_group.items %}
    <div>Blok: {{k}} -- Stats: {{v}} </div>
    {% endfor %}
    </div>
</div>



<hr>
<h5>Attacker Deads</h5>
{{attacker_deads}}
<hr>
<h5>Defender Deads</h5>
{{defender_deads}}



<div class="defend-grid-container">

    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% if 31 in main_defend_group %}

            <div>{{ main_defend_group.31.troop.troop }}</div>
            <div>Number: {{ main_defend_group.31.count }} </div>
            <div>Dead: {{ defender_deads.31.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 32 in main_defend_group %}

            <div>{{ main_defend_group.32.troop.troop }}</div>
            <div>Number: {{ main_defend_group.32.count }} </div>
            <div>Dead: {{ defender_deads.32.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 33 in main_defend_group %}

            <div>{{ main_defend_group.33.troop.troop }}</div>
            <div>Number: {{ main_defend_group.33.count }} </div>
            <div>Dead: {{ defender_deads.33.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 34 in main_defend_group %}

            <div>{{ main_defend_group.34.troop.troop }}</div>
            <div>Number: {{ main_defend_group.34.count }} </div>
            <div>Dead: {{ defender_deads.34.deads }} </div>
            {% else %}
        {% endif %}
        </div>
        
    </div>

    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% if 21 in main_defend_group %}

            <div>{{ main_defend_group.21.troop.troop }}</div>
            <div>Number: {{ main_defend_group.21.count }} </div>
            <div>Dead: {{ defender_deads.21.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 22 in main_defend_group %}

            <div>{{ main_defend_group.22.troop.troop }}</div>
            <div>Number: {{ main_defend_group.22.count }} </div>
            <div>Dead: {{ defender_deads.22.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 23 in main_defend_group %}

            <div>{{ main_defend_group.23.troop.troop }}</div>
            <div>Number: {{ main_defend_group.23.count }} </div>
            <div>Dead: {{ defender_deads.23.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 24 in main_defend_group %}

            <div>{{ main_defend_group.24.troop.troop }}</div>
            <div>Number: {{ main_defend_group.24.count }} </div>
            <div>Dead: {{ defender_deads.24.deads }} </div>
            {% else %}
        {% endif %}
        </div>
        
    </div>


    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% if 11 in main_defend_group %}

            <div>{{ main_defend_group.11.troop.troop }}</div>
            <div>Number: {{ main_defend_group.11.count }} </div>
            <div>Dead: {{ defender_deads.11.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 12 in main_defend_group %}

            <div>{{ main_defend_group.12.troop.troop }}</div>
            <div>Number: {{ main_defend_group.12.count }} </div>
            <div>Dead: {{ defender_deads.12.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 13 in main_defend_group %}

            <div>{{ main_defend_group.13.troop.troop }}</div>
            <div>Number: {{ main_defend_group.13.count }} </div>
            <div>Dead: {{ defender_deads.13.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item">
            {% if 14 in main_defend_group %}

            <div>{{ main_defend_group.14.troop.troop }}</div>
            <div>Number: {{ main_defend_group.14.count }} </div>
            <div>Dead: {{ defender_deads.14.deads }} </div>
            {% else %}
        {% endif %}

        </div>
        
    </div>

</div>






<h3>BATTLE FIELD</h3>


<div class="attack-grid-container">

    <div class="attack-grid-row">

        <div class="troop-grid-item 11" 
        {% if attacker_deads.11.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.11.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>

            {% if 11 in main_attack_group %}

            <div>{{ main_attack_group.11.troop.troop }}</div>
            <div>Number: {{ main_attack_group.11.count }} </div>
            <div>Dead: {{ attacker_deads.11.deads }} </div>
            {% else %}
            X
        {% endif %}
        </div>
    
        <div class="troop-grid-item 12" 
        {% if attacker_deads.12.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.12.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 12 in main_attack_group %}

            <div>{{ main_attack_group.12.troop.troop }}</div>
            <div>Number: {{ main_attack_group.12.count }} </div>
            <div>Dead: {{ attacker_deads.12.deads }} </div>
            {% else %}
            X
        {% endif %}
        </div>
    
        <div class="troop-grid-item 13"
        {% if attacker_deads.13.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.13.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 13 in main_attack_group %}

            <div>{{ main_attack_group.13.troop.troop }}</div>
            <div>Number: {{ main_attack_group.13.count }} </div>
            <div>Dead: {{ attacker_deads.13.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item 14"
        {% if attacker_deads.14.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.14.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 14 in main_attack_group %}

            <div>{{ main_attack_group.14.troop.troop }}</div>
            <div>Number: {{ main_attack_group.14.count }} </div>
            <div>Dead: {{ attacker_deads.14.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    </div>
    
    <div class="attack-grid-row">
    
        <div class="troop-grid-item 21"
        {% if attacker_deads.21.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.21.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 21 in main_attack_group %}

            <div>{{ main_attack_group.21.troop.troop }}</div>
            <div>Number: {{ main_attack_group.21.count }} </div>
            <div>Dead: {{ attacker_deads.21.deads }} </div>
            {% else %}
            <div class="nonex">X</div>
        {% endif %}
        </div>
    
        <div class="troop-grid-item 22"
        {% if attacker_deads.22.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.22.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 22 in main_attack_group %}

            <div>{{ main_attack_group.22.troop.troop }}</div>
            <div>Number: {{ main_attack_group.22.count }} </div>
            <div>Dead: {{ attacker_deads.22.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item 23"
        {% if attacker_deads.23.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.23.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 23 in main_attack_group %}

            <div>{{ main_attack_group.23.troop.troop }}</div>
            <div>Number: {{ main_attack_group.23.count }} </div>
            <div>Dead: {{ attacker_deads.23.deads }} </div>
            {% else %}
        {% endif %}
        </div>
    
        <div class="troop-grid-item 24"
        {% if attacker_deads.24.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.24.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>

            {% if 24 in main_attack_group %}

            <div>{{ main_attack_group.24.troop.troop }}</div>
            <div>Number: {{ main_attack_group.24.count }} </div>
            <div>Dead: {{ attacker_deads.24.deads }} </div>
            {% else %}
        {% endif %}

        </div>
    </div>

    <div class="attack-grid-row">
    
        <div class="troop-grid-item 31"
        {% if attacker_deads.31.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.31.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 31 in main_attack_group %}

            <div>{{ main_attack_group.31.troop.troop }}</div>
            <div>Number: {{ main_attack_group.31.count }} </div>
            <div>Dead: {{ attacker_deads.31.deads }} </div>
            {% else %}
        {% endif %}

        </div>
    
        <div class="troop-grid-item 32"
        {% if attacker_deads.32.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.32.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 32 in main_attack_group %}

            <div>{{ main_attack_group.32.troop.troop }}</div>
            <div>Number: {{ main_attack_group.32.count }} </div>
            <div>Dead: {{ attacker_deads.32.deads }} </div>
            {% else %}
        {% endif %}

        </div>
    
        <div class="troop-grid-item 33"
        {% if attacker_deads.33.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.33.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>
            {% if 33 in main_attack_group %}

            <div>{{ main_attack_group.33.troop.troop }}</div>
            <div>Number: {{ main_attack_group.33.count }} </div>
            <div>Dead: {{ attacker_deads.33.deads }} </div>
            {% else %}
        {% endif %}

        </div>
    
        <div class="troop-grid-item 34"
        {% if attacker_deads.34.status == 'ok' %}
        style="background: #90ee90;"
        {% elif attacker_deads.34.status == 'injured' %}
        style="background: #ffffe0;"
        {% else %}
        style="background: #f08080;"
        {% endif %}>

            {% if 34 in main_attack_group %}

            <div>{{ main_attack_group.34.troop.troop }}</div>
            <div>Number: {{ main_attack_group.34.count }} </div>
            <div>Dead: {{ attacker_deads.34.deads }} </div>
            {% else %}
        {% endif %}

        </div>
    </div>


</div>

<hr>
{{main_defend_group}}
<hr>
{{main_attack_group}}


{% endblock body %}




