{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/battle.css' %}" type='text/css'>
{% endblock head %}




{% block body %}
uzunluk: {{uzunluk}}
<p>DEFEND TROOPS:{{defend_group}}</p>
<p>DEFEND HEROES:{{defend_heroes}}</p>
<hr>
<p>ATTACK TROOPS: {{attack_group}}</p>
<p>ATTACK HEROES: {{attack_heroes}}</p>
<hr>
<p>{{first_result}}</p>


<div class="defend-grid-container">

    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% for def in defendGrid.31 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.32 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.33 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
        {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.34 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>

    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% for def in defendGrid.21 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.22 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.23 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.24 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>


    <div class="defend-grid-row">

        <div class="troop-grid-item">
            {% for def in defendGrid.11 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.12 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.13 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item">
            {% for def in defendGrid.14 %}
                {% if def.count == 0 %}
                {% else %}
                <div>{{def.user_troop.troop}}</div>
                <div>{{def.count}}</div>
                {% endif %}
            {% endfor %}

        </div>
        
    </div>

</div>






<h3>BATTLE FIELD</h3>


<div class="attack-grid-container">

    <div class="attack-grid-row">

        <div class="troop-grid-item 11">
            {% for att in attackGrid.11 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 12">
            {% for att in attackGrid.12 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 13">
            {% for att in attackGrid.13 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 14">
            {% for att in attackGrid.14 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="attack-grid-row">
    
        <div class="troop-grid-item 21">
            {% for att in attackGrid.21 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 22">
            {% for att in attackGrid.22 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 23">
            {% for att in attackGrid.23 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 24">

            {% for att in attackGrid.24 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <div class="attack-grid-row">
    
        <div class="troop-grid-item 31">
            {% for att in attackGrid.31 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 32">
            {% for att in attackGrid.32 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 33">
            {% for att in attackGrid.33 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div class="troop-grid-item 34">

            {% for att in attackGrid.34 %}
                {% if att.count == 0 %}
                {% else %}
                <div>{{att.user_troop.troop}}</div>
                <div>{{att.count}}</div>
                {% endif %}
            {% endfor %}

        </div>
    </div>


</div>


<hr>

<h4>ROUND 1</h4>


{% for k,v in round_1.items %}
<p>{{k}} - {{v}}</p>
{% endfor %}







{% endblock body %}




