{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/battle.css' %}" type='text/css'>
{% endblock head %}




{% block body %}
<h4>BATTLE REPORT</h4>

{{report}}

<!--
    BU OLMAZZZZZZ TÜM BLOCKLARI GÖSTERMİYOR. AYRICA ÇOK BÜYÜK OLUYOR İTEMLER
-->

<hr>


    {% for att in report.attacker_group %}
    <div class="battle-grid-item">
        
        <div>POS: {{att.position}}</div>
        <div>STATUS: {{att.status}}</div>
        <div>USER TROOP: {{att.user_troop}}</div>
        <div>NUMBER: {{att.troop_count}}</div>
        <div>DEAD: {{att.deads}}</div>
        <div>ALIVE: {{att.troop_alive}}</div>
        <div>HERO: {{att.user_hero}}</div>
        <div>HERO REIN.: {{att.user_hero_troop}}</div>
        <div>HERO REIN NUMBER: {{att.user_hero_troop_count}}</div>
        <div>HERO REIN DEAD: {{att.user_hero_troop_dead}}</div>
        <div>HERO REIN ALIVE: {{att.user_hero_troop_alive}}</div>
        
    </div>
    {% endfor %}




<hr>
{% for att in report.defender_group %}
<div>POS: {{att.position}}</div>
<div>STATUS: {{att.status}}</div>
<div>USER TROOP: {{att.user_troop}}</div>
<div>NUMBER: {{att.troop_count}}</div>
<div>DEAD: {{att.deads}}</div>
<div>ALIVE: {{att.troop_alive}}</div>
<div>HERO: {{att.user_hero}}</div>
<div>HERO REIN.: {{att.user_hero_troop}}</div>
<div>HERO REIN NUMBER: {{att.user_hero_troop_count}}</div>
<div>HERO REIN DEAD: {{att.user_hero_troop_dead}}</div>
<div>HERO REIN ALIVE: {{att.user_hero_troop_alive}}</div>
<hr>

{% endfor %}




{% endblock body %}