{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/battle.css' %}" type='text/css'>
{% endblock head %}




{% block body %}
<h4 class="text-center">BATTLE REPORT</h4>



<div class="report-container">

    <div class="flex-column-center">

        <div class="group-container">
    
    
            {% for position, value in defender_data.items %}
        
                {% if value == '?' %}
                <div class="group-item bold">?</div>

                {% elif value %}
                       
                    <div class="group-item" {% if value.status == 'dead' %} id="group-dead" {% endif %}>
                        {% if value.user_hero %}
                        <div class="bold">
                            <img class="mini-icon" src="{% get_static_prefix %}images/others/crown.png" alt="" title="{{value.user_hero.hero}}">  
                            {{value.user_hero.hero}}</div>
                        {% if value.user_hero_troop %}
                        <div> {{value.user_hero_troop}} </div>
                        <div> {{value.user_hero_troop_dead}} / {{value.user_hero_troop_count}} </div>
                            
                        {% endif %}
                        {% endif %}
                        
                        <div>{{value.user_troop.troop}}</div>
                        <div>{{value.deads}} / {{value.troop_count}}</div>
                    </div>
                {% else %}
                <div class="group-item">X</div>
                {% endif %}
            
            {% endfor %}
            
            
        </div>
    
    
        <div class="battle-field">
            <span id="battle-field">BATTLE FIELD</span>
        </div>
    
    
        <div class="group-container">
    
    
            {% for position, value in attacker_data.items %}
        
                {% if value %}
                       
                    <div class="group-item" {% if value.status == 'dead' %} id="group-dead" {% endif %}>
                        {% if value.user_hero %}
                        <div class="bold">
                            <img class="mini-icon" src="{% get_static_prefix %}images/others/crown.png" alt="" title="{{value.user_hero.hero}}">  
                            {{value.user_hero.hero}}
                        </div>
                        {% if value.user_hero_troop %}
                        <div> {{value.user_hero_troop}} </div>
                        <div> {{value.user_hero_troop_dead}} / {{value.user_hero_troop_count}} </div>
                            
                        {% endif %}
                        {% endif %}
                        
                        <div>{{value.user_troop.troop}}</div>
                        <div>{{value.deads}} / {{value.troop_count}}</div>
                    </div>
                {% else %}
                <div class="group-item">X</div>
                {% endif %}
            
            {% endfor %}
            
            
        </div>
    
    
    
    
    </div>


    <div class="report-details">
        <div class="bold text-center">{{report}}</div>
        <div>Type: {{report.battle_type | upper}}</div>
        <div> 
            <img class="mini-icon" src="{% get_static_prefix %}images/others/time.png" alt="" title="time"> 
            {{report.time|date:"d/m/Y H:i:s"}}  
        </div>
        <div>Wood: {{report.pillage.wood}}</div>
        <div>Stone: {{report.pillage.stone}}</div>
        <div>Iron: {{report.pillage.iron}}</div>
        <div>Grain: {{report.pillage.grain}}</div>
        <div>Rings: {{report.pillage.rings}}</div>


    </div>
</div>










{% endblock body %}