*.pyc
__pycache__
db.sqlite3
/env
*.env
.env
.vscode
.mp4
*.mp4
local.py
/images
documentation.html
/migrations
.gitignore
data.json
**/migrations/
**/migrations/**
warofsix.sock
warofsix.nginx.conf
gunicorn.service
bfme2.csv
my_project_visualized.png
/static
/.idea