{% extends 'main/layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style/alliances.css' %}" type='text/css'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock head %}




{% block body %}


<div class="alliance-encampment-container">

    <div class="alliance-left-troop-section">

        <div class="current-troop-container">
          <h4 style="width: 100%; text-align:center;">CURRENT TROOPS</h4>
          
          
  
          {% for troop in user_troops %}
          
          <div class="current-troop-box">
            <label for="{{troop.troop}}"> <i>{{troop.troop}}</i> </label>
            <img class="troop-icon-camp" src="{% get_static_prefix %}images/troops/{{troop.troop.id}}.png" alt="{{troop.troop.name}}">
            <div> <b>{{troop.count}}</b> </div>
          </div>
          
          {% endfor %}
          
      </div>
    
      <div class="current-hero-container">
        <h5 style="width: 100%; text-align:center;">CURRENT HEROES</h5>
        {% for hero in user_heroes %}
        <div class="current-hero-box">
          <div class="hero-heading"><label for="{{hero.hero}}"> <i>{{hero.hero}}</i> </label></div>
          <img class="troop-icon-camp" src="{% get_static_prefix %}images/heroes/{{hero.hero.id}}.png" alt="{{hero.hero}}">
          Current Health: {{hero.current_health}}
          <div><i>{{hero.status}}</i></div>
          {% if hero.hero.summon_amount == 0 %}
          {% else %}
          <div>{{hero.hero.summon_amount}} {{hero.hero.summon_type}}</div>
          {% endif %}
        </div>
      
        {% endfor %}
    </div>



    
    
</div>

<div class="alliance-troop-management-section">


  <div class="battle-field">
    <span id="battle-field">BATTLE FIELD</span>
  </div>
    
    <form method="POST" id="attack">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="alliance_create_campaign">
        
        
        <div class="alliance-campaign-position-container">
           
            {% for position in positions %}

              <div class="alliance-position-item" id="{{position}}">

                
                <div class="hero-select-container">
                      <div class="hero-select-menu">
                          <select id="herod-{{position}}" name="herod{{position}}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option id ="99">Add Hero</option>
                            {% for hero in user_heroes %}
                            <option id="{{hero.hero.id}}" value="{{hero.id}}">{{hero.hero}}</option>
                            {% endfor %}
                          </select>
                        </div>
                        
                        <div class="hero-small-image">
                          <img id="imgh{{position}}" class="hero-img" src="{% get_static_prefix %}images/heroes/99.png" alt="">
                        </div>
                  </div>
                    
                    
                  <select id="slc-{{position}}" name="troop{{position}}" class="troop-select" aria-label="Default select example">
                    {% for troop in user_troops %}
                    <option id="{{troop.troop.id}}" value="{{troop.id}}">{{troop.troop}}</option>
                    {% endfor %}
                  </select>
                  
                  <img id="img{{position}}" class="formation-img" src="{% get_static_prefix %}images/troops/99.png" alt="">
                  
                  <input class="troop-input" type="number" id="num{{position}}" name="num{{position}}" min="0"  value="0">
              </div>
              
            {% endfor %}
          

        </div>



        <div  class="campaign-details">
          <div class="campaign-location">

            <label for="locx">X: </label>
            <input type="number" id="locx" name="locx" min="0" max="30" required>
            |
            <label for="locy">Y: </label>
            <input type="number" id="locy" name="locy" min="0" max="30" required>

            <span class="small-icon"><img id="location-icon" class="small-icon" src="{% get_static_prefix %}images/others/map-pin.svg" alt=""></span>  <span id="result"></span>
          </div>

          <hr>

          <div>

            <input class="form-check-input" type="radio" value="True" id="flexCheckCheckedDisabled" name="auto" checked disabled>
            <label class="form-check-label" for="flexCheckCheckedDisabled">
              Auto Battle
            </label>
          </div>
          <hr>



            <div class="form-check">
              <input class="form-check-input" type="radio" value="pillage" id="pillage" name="sendType" checked>
              <label class="form-check-label" for="pillage">
                ATTACK - Pillage
              </label>
            </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="attackblock" id="attackblock" name="sendType">
                <label class="form-check-label" for="attackblock" >
                  ATTACK - Line/Block
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" value="attackflank" id="attackflank" name="sendType">
                <label class="form-check-label" for="attackflank" >
                  ATTACK - Flank
                </label>
              </div>
            

            


            <button type="submit" class="btn btn-danger">CREATE</button>
          </div>

            

    </form>
        
    
    
</div>
</div>



<script>
    const selectImgPairs = document.querySelectorAll('[id^="slc-"]');
    selectImgPairs.forEach(pair => {
      const imgd = document.querySelector(`#img${pair.id.slice(4)}`);

      // add event listener to select element
      pair.addEventListener('change', (event) => {
        console.log('Attack çalıştı');
        const selected = pair.querySelector(`option[value="${event.target.value}"]`);
        const idd = selected.id
        imgd.src = `{% get_static_prefix %}images/troops/${idd}.png`;
      });
    });
</script>


<script>
    const selectImgPairsh = document.querySelectorAll('[id^="herod-"]');
    selectImgPairsh.forEach(pair => {
      const imgh = document.querySelector(`#imgh${pair.id.slice(6)}`);
      
      // add event listener to select element
      pair.addEventListener('change', (event) => {
        console.log('Hero çalıştı');
        const selected = pair.querySelector(`option[value="${event.target.value}"]`);
        const idh = selected.id
        console.log(idh);
        imgh.src = `{% get_static_prefix %}images/heroes/${idh}.png`;
      });
    });
  </script>


  <!--  FOR LOCATION CHECK  -->

  <script>
    $(document).ready(function() {
      // Define your data dictionary with coordinates and names
      var data = JSON.parse('{{location_data|escapejs}}') ;
  
      // Listen for changes to the input fields
      $('#locx, #locy').on('change', function() {
        // Get the values of the input fields
        var locx = $('#locx').val();
        var locy = $('#locy').val();
  
        // Build the coordinate key for the data dictionary
        var key = locx + ',' + locy;
  
        // Check if the key exists in the data dictionary
        if (key in data) {
          // If it does, show the corresponding name
          $('#result').text(data[key]);
        } else {
          // If it doesn't, show an error message
          $('#result').text('Not found');
        }
      });
    });
  </script>

{% endblock body %}